* text=auto !eol
/COPYING -text
/Makefile -text
/README -text
/archive.h.in -text
/archive_check_magic.c -text
/archive_entry.3 -text
/archive_entry.c -text
/archive_entry.h -text
/archive_platform.h -text
/archive_private.h -text
/archive_read.3 -text
/archive_read.c -text
/archive_read_data_into_buffer.c -text
/archive_read_data_into_fd.c -text
/archive_read_extract.c -text
/archive_read_open_fd.c -text
/archive_read_open_file.c -text
/archive_read_open_filename.c -text
/archive_read_open_memory.c -text
/archive_read_support_compression_all.c -text
/archive_read_support_compression_bzip2.c -text
/archive_read_support_compression_compress.c -text
/archive_read_support_compression_gzip.c -text
/archive_read_support_compression_none.c -text
/archive_read_support_format_all.c -text
/archive_read_support_format_cpio.c -text
/archive_read_support_format_empty.c -text
/archive_read_support_format_iso9660.c -text
/archive_read_support_format_tar.c -text
/archive_read_support_format_zip.c -text
/archive_string.c -text
/archive_string.h -text
/archive_string_sprintf.c -text
/archive_util.3 -text
/archive_util.c -text
/archive_write.3 -text
/archive_write.c -text
/archive_write_open_fd.c -text
/archive_write_open_file.c -text
/archive_write_open_filename.c -text
/archive_write_open_memory.c -text
/archive_write_set_compression_bzip2.c -text
/archive_write_set_compression_gzip.c -text
/archive_write_set_compression_none.c -text
/archive_write_set_format.c -text
/archive_write_set_format_by_name.c -text
/archive_write_set_format_cpio.c -text
/archive_write_set_format_pax.c -text
/archive_write_set_format_shar.c -text
/archive_write_set_format_ustar.c -text
/config_freebsd.h -text
/libarchive-formats.5 -text
/libarchive.3 -text
/tar.5 -text
