* text=auto !eol
lib/dns/rdata/generic/afsdb_18.c -text
lib/dns/rdata/generic/afsdb_18.h -text
lib/dns/rdata/generic/cert_37.c -text
lib/dns/rdata/generic/cert_37.h -text
lib/dns/rdata/generic/cname_5.c -text
lib/dns/rdata/generic/cname_5.h -text
lib/dns/rdata/generic/dlv_65323.c -text
lib/dns/rdata/generic/dlv_65323.h -text
lib/dns/rdata/generic/dname_39.c -text
lib/dns/rdata/generic/dname_39.h -text
lib/dns/rdata/generic/dnskey_48.c -text
lib/dns/rdata/generic/dnskey_48.h -text
lib/dns/rdata/generic/ds_43.c -text
lib/dns/rdata/generic/ds_43.h -text
lib/dns/rdata/generic/gpos_27.c -text
lib/dns/rdata/generic/gpos_27.h -text
lib/dns/rdata/generic/hinfo_13.c -text
lib/dns/rdata/generic/hinfo_13.h -text
lib/dns/rdata/generic/isdn_20.c -text
lib/dns/rdata/generic/isdn_20.h -text
lib/dns/rdata/generic/key_25.c -text
lib/dns/rdata/generic/key_25.h -text
lib/dns/rdata/generic/loc_29.c -text
lib/dns/rdata/generic/loc_29.h -text
lib/dns/rdata/generic/mb_7.c -text
lib/dns/rdata/generic/mb_7.h -text
lib/dns/rdata/generic/md_3.c -text
lib/dns/rdata/generic/md_3.h -text
lib/dns/rdata/generic/mf_4.c -text
lib/dns/rdata/generic/mf_4.h -text
lib/dns/rdata/generic/mg_8.c -text
lib/dns/rdata/generic/mg_8.h -text
lib/dns/rdata/generic/minfo_14.c -text
lib/dns/rdata/generic/minfo_14.h -text
lib/dns/rdata/generic/mr_9.c -text
lib/dns/rdata/generic/mr_9.h -text
lib/dns/rdata/generic/mx_15.c -text
lib/dns/rdata/generic/mx_15.h -text
lib/dns/rdata/generic/ns_2.c -text
lib/dns/rdata/generic/ns_2.h -text
lib/dns/rdata/generic/nsec_47.c -text
lib/dns/rdata/generic/nsec_47.h -text
lib/dns/rdata/generic/null_10.c -text
lib/dns/rdata/generic/null_10.h -text
lib/dns/rdata/generic/nxt_30.c -text
lib/dns/rdata/generic/nxt_30.h -text
lib/dns/rdata/generic/opt_41.c -text
lib/dns/rdata/generic/opt_41.h -text
lib/dns/rdata/generic/proforma.c -text
lib/dns/rdata/generic/proforma.h -text
lib/dns/rdata/generic/ptr_12.c -text
lib/dns/rdata/generic/ptr_12.h -text
lib/dns/rdata/generic/rp_17.c -text
lib/dns/rdata/generic/rp_17.h -text
lib/dns/rdata/generic/rrsig_46.c -text
lib/dns/rdata/generic/rrsig_46.h -text
lib/dns/rdata/generic/rt_21.c -text
lib/dns/rdata/generic/rt_21.h -text
lib/dns/rdata/generic/sig_24.c -text
lib/dns/rdata/generic/sig_24.h -text
lib/dns/rdata/generic/soa_6.c -text
lib/dns/rdata/generic/soa_6.h -text
lib/dns/rdata/generic/sshfp_44.c -text
lib/dns/rdata/generic/sshfp_44.h -text
lib/dns/rdata/generic/tkey_249.c -text
lib/dns/rdata/generic/tkey_249.h -text
lib/dns/rdata/generic/txt_16.c -text
lib/dns/rdata/generic/txt_16.h -text
lib/dns/rdata/generic/unspec_103.c -text
lib/dns/rdata/generic/unspec_103.h -text
lib/dns/rdata/generic/x25_19.c -text
lib/dns/rdata/generic/x25_19.h -text
